<div>
  <ul x-lb="searchStrings">
    <search-string>
  </ul>
  <div class="upperButtons">
    <button x-b="searchButton">Find</button>
    <button x-b="caseButton" title="Case-sensitive on/off">C</button>
    <div class="search-constrols">
      <button x-b="moveLeft" tabindex="-1"></button>
      <button x-b="searchId" tabindex="0"></button>
      <button x-b="removeSearch" tabindex="-1" title="Remove current search"></button>
      <button x-b="moveRight" tabindex="-1"></button>
    </div>
  </div>

  <div x-b="results" >
    <span x-b="foundResults"></span>
    <div x-b="controls" class="hidden">
      <button x-b="blink" title="Get findings to blink">Blink</button>
      <button x-b="moveUp"></button>
      <button x-b="moveDown"></button>
      <span x-b="highlightPosition"></span>
    </div>
  </div>
</div>
